<h2>Mau dapet pemberitahuan saat ada posting job baru di nganggur?</h2>
<p>
	Pasti mau dong. Untuk saat ini, masih dalam tahap pengembangan ya. Pengen liat dulu, banyak gak sih
	yang antusias. Kalo emang 'maksa' dan pengen bener-bener berlangganan (dapet email tentang postingan job baru),
	kirim aja email ke email saya. Bisa cek email saya di <a href="#!/faq">sini.</a> Judulnya: <strong>"LANGGANAN NGANGGUR"</strong>.
	Caps-lock semua ya, biar kesan nya marah-marah hahaha, kidding.
</p>
<p>
	Tenang, alamat email anda aman kok, dan informasi pribadi anda gak bakal dijual kemana-mana. Kami (atau saya?) juga gak
	bakal ngirim SPAM, toh masih manual hahaha. Mungkin gitu aja dulu, oh iya.. udah baca <a href="#!/saran">kritik & saran</a> belum? Bantu layanan ini agar menjadi lebih baik lagi yuk!
</p>
<a href="#!/" class="button kembali">Kembali</a>
