<h2>Pertanyaan yang <em>mungkin bakal</em> sering diajukan</h2>
<div class="divider"></div>
<ul>
	<li><h2>Ini situs apa ya?</h2></li>
	<blockquote>
		Ini merupakan situs hasil pembelajaran sayan tadi malam tentang pembuatan aplikasi berbasis website menggunakan
		Angular.js dengan konsep RESTful API.
	</blockquote>

	<li><h2>Apakah ini situs nyata?</h2></li>
	<blockquote>
		Nyata dong, ya kali enggak hehe. Untuk posting pekerjaan, masih menggunakan metoda manual. Yakni, sang pemosting
		pekerjaan mengisi angket dari google docs <a href="#!/posting">disini</a>, lalu kami (atau saya) akan me-review
		kevalidan nya.
	</blockquote>

	<li><h2>Dimana halaman <strong>Pricing?</strong></h2></li>
	<blockquote>
		Gak ada! Disini semua postingan lowongan pekerjaan yang sifatnya remote <strong>GRATIS!</strong> Anggep aja alternative dari <a href="https://weworkremotely.com">WeWorkRemotely</a> yang seharga $200 untuk sebulan. Atau di <a href="https://remoteok.io">RemoteOK</a> yang seharga $200 untuk tiga bulan. Disini gratis, sampai deadline yang anda tentukan!
	</blockquote>
	<li><h2>Bakal ada iklan gak disitus ini?</h2></li>
	<blockquote>
		Belum kepikiran. Kalo emang situs ini tumbuh, dan butuh sumber daya yang memungkinkan, mungkin kita diskusiin bareng aja deh baik nya gimana
	</blockquote>
	<li><h2>Harapan ke depan nya gimana?</h2></li>
	<blockquote>
		Sebagai seorang Freelancer dan bekerja secara remote, saya ingin Indonesia juga bisa tertular kultur kerja remote ini.
		Buktinya, sudah banyak para pekerja remote yang ada di Indonesia, yang tertampung di grup Facebook <strong><a href="https://www.facebook.com/groups/kami.kerja.remote/">Kami Kerja Remote</a></strong> (membernya sudah sampai 18.000+ lebih!). Grup nya juga aktif, banyak yang posting pekerjaan juga. Yaa siapa tau website ini membantu agar pekerjaan yang di posting lebih rapih, tertata, dan mudah ditemukan
	</blockquote>
	<li><h2>Saya ada pertanyaan lagi nih</h2></li>
	<blockquote>Silahkan email saya di: <strong>fariz@mail.userlabs.co.id.</strong> Insya Allah saya respon kok!</blockquote>
</ul>
<p>Terima kasih sudah membaca tulisan ini :)</p>
<a href="#!/" class="button kembali">Kembali</a>
