<h2>Bantu layanan ini menjadi lebih baik lagi!</h2>
<p>
	Terima kasih telah menjadi bagian dari nganggur. Bantu layanan ini menjadi lebih baik lagi yuk, kalo punya
	kritik atau saran, silahkan diisi ya. Terima kasih banyak! Nuhun.
</p>
<p>
	Kalo masih gak ngerti tentang layanan ini, <a href="#!/tentang">silahkan baca ini dulu.</a> Oh iya, buat source
	code nya, nanti saya share di akun <a href="https://github.com/farizdev/">GitHub saya.</a>. Follow ya buat dapet
	pemberitahuan kapan saya release source code ini, hehehe. Rencana sih kalo udah masuk ke <a href="http://semver.org">versi 3.0.0</a>
</p>
<a href="https://goo.gl/forms/B4ODUlAA2iAt8AtJ2" class="button">Buat kritik & saran disini!</a>
<a href="#!/" class="button kembali">Kembali</a>
