<a href="#!/" class="button kembali">Kembali</a>
<h2>Tentang Nganggur;</h2>
<p>
	Nganggur adalah sebuah website untuk memposting pekerjaan yang sifatnya <strong>remote</strong>. Kalo
	enggak remote, ya jangan posting disini. Posting aja di JobStreet, dll. Dibuat untuk proses pembelajaran
	menggunakan JavaScript Framework bernama Angular.js dan tentang REST API.
</p>
<p>
	Jadi ini cuma website hasil pembelajaran aja, haha. Tapi kalo sekira nya bermanfaat, silahkan kasih tau temen-temen
	kalian, siapa tau ada yang mau cari <em>remote-worker,</em> atau ada yang ingin mencari pekerjaan secara remote. Itung-itung
	ngebantu kan, hehe. 
</p>
<p>
	Sesuai namanya, nganggur. Website ini dibuat ketika saya nganggur, dan untuk orang-orang yang menganggur :D Maksud menganggur
	disini bukan berarti gak punya pekerjaan ya, tapi yang <strong>telah selesai bekerja, dan sedang mencari pekerjaan lain</strong>. Kecuali saya, baru nganggur haha.
</p>
<p>
	Semoga website sederhana ini bermanfaat. Jika menemukan bug, atau ingin berkontribusi silahkan fork <a href="#!">Repository ini</a>. Every developers love Open Source & Contribution! Sekian.
</p>
<p>
	<strong>< /></strong> with ❤ in <a href="https://www.google.co.id/maps/place/6%C2%B053'16.8%22S+107%C2%B037'11.7%22E/@-6.8879995,107.6024071,14z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d-6.887999!4d107.619914">Bandung</a>
</p>